* {
    margin: 0;
    padding: 0;
  }
  
  $color-to-change-from: #B5AEAB;
  $color-to-change-to: #F36633;
  $color-chage-animation-speed: 1.2s;
  $loading-dot-size: 8px;
  
  .animated-loading-dots-wrapper{
    display: flex;
    height: 100vh;
  }
  .animated-loading-dots {
    margin: auto;  
  }
  
  .animated-loading-dots div {
    width: $loading-dot-size;
    height: $loading-dot-size;
    margin-right: 3px;
    border-radius: 100%;
    display: inline-block;
    animation: change-color-1 $color-chage-animation-speed infinite ease-in-out both;
  }
  
  .animated-loading-dots .dot1 {
    animation-delay: -$color-chage-animation-speed / 4;
  }
  .animated-loading-dots .dot2 {
    animation-delay: -$color-chage-animation-speed / 8;
  }
  
  @keyframes change-color-1 {
    0%, 80%, 100% { 
      background: $color-to-change-from;
    } 40% { 
      background: $color-to-change-to;
    }
  }